body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

ul
{
    list-style-type:none;
}


a:active,
a:link,
a:visited {
    text-decoration: none;
}

.blur__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    transition: display 0.4s ease;
}

    .blur__overlay.is--active {
        display: block;
    }



.section {
    height:100vh;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

    .section.one {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70);
    }

    .section.two {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD);
    }

    .section.three {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/538ac149-d103-4834-9d38-641d8ae447ef/bvlatuR/std/4096x2560/Homepage-Model-S-Desktop-LHD);
    }

    .section.four {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD);
    }

    .section.five {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D);
    }

    .section.six {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/4a41ec0e-7316-46a8-8ce9-e2f195ba644d/bvlatuR/std/2880x1800/Homepage-SolarRoof-Desktop-Global?quality=auto-medium&format=auto);
    }

    .section.seven {
        background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/0x0/dd739764-bcaa-4263-9488-8c73bc9fb046);
    }

.section__content {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: capitalize;
    color: #181b21;
}

.section__content__title {
    font-size:2rem;
    font-weight:bold;
    margin-bottom:0.5rem;
}

.section__content__subtitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.section__content__subtitle a {
    color:inherit;
    text-decoration:none;
}

.section__action__container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}


.section__action__btn {
    font-size:1rem;
    font-weight:500;
    padding:1rem;
    border-radius:2rem;
    text-transform:capitalize;
    flex-basis:80%;
    margin-bottom:1rem;

}

.action__btn__primary {
background:rgba(23,26,42,0.8);
color:white;
}

.action__btn__secondary {
    background: rgba(255,255,455,0.65);
    color: #181b21;
}


/**                                                   HEADER*/
.header {
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.header__middle {
    display: flex;
    align-items: center;
}

.header__left {
    display: block;
    overflow: hidden;
    padding: 0 2rem;
    margin-top:3px;   
}

.header__logo {
    height: 100%;
    width: 8rem;
}

.header__right {
    margin: auto 0;
    margin-right: 1rem;
}

.header__nav__btn {
    display: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    color: var(--secondary-color);
    border-radius: 1.5rem;
    text-transform: capitalize;
    transition: background 0.3s linear;
}

    .header__nav__btn:hover {
        background: #0000001c;
    }

    .header__nav__btn.menu__btn {
        display: inline-block;
    }

.header__middle .header__nav__btn {
    margin-right:   rem;
}

/**                                                     NAVIGATION*/

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    max-width: 35rem;
    height: 100%;
    z-index: 10;
    background: #fff;
    transform: translateX(100%);
    
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
}

    .navigation.is--active {
        transform: translateX(0);
    }

    .navigation ul {
    width:100%;
    margin:0 auto;
    list-style:none;
    }

        .navigation ul li {
            width: 100%;
            padding: 1.2rem 0;
            padding-left: 1rem;
            margin-bottom: 0.5rem;
            cursor: pointer;
            border-radius: 1.2rem;
            transition: background-color 0.33s ease;
        }

nav__link {
color:#393c41;
font-weight:600;
font-size:1.5rem;
text-transform:capitalize;
}

navigation ul li :hover {
background:#0000000d;
}

.close__btn__container {
    text-align: right;
    margin: 2rem 3rem;
}

.navigation__close__btn {
    width: 3rem;
    cursor: pointer;
}


/*                             footer.css */


.footer {
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
}

    .footer ul {
        width: 80%;
        margin: 1rem auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style-type:none;
    }

        .footer ul li {
            margin-right: 1rem;
            margin-top: 0.5rem;
            text-transform: capitalize;
            font-weight: 400;
        }

            .footer ul li a {
                color: var(--secondary-color);
                font-size: 1.2rem;
            }




/* responsive.css */

/* sm=600 */
/* md=900 */
/* lg=1200 */
/* xl=1600 */

@media screen and (min-width: 600px) {
    .section__action__btn {
        max-width: 30rem;
        padding: 1.5rem;
        flex-basis: 40%;
    }

    .section__action__container {
        justify-content: space-evenly;
    }

    
}

@media screen and (min-width: 300px) {
    .navigation {
        width: 100%;
    }
}


@media screen and (min-width: 900px) {
    .section__action__container {
        width: 70%;
    }

    .footer ul {
        width: 70%;
    }
}

@media screen and (min-width: 1150px) {
    .header__nav__btn {
        display: inline-block;
    }

    .header__left {
        padding: 0 2rem;
        
    }

    .header__right {
        margin: auto 2rem;
    }

    .link__in__middle {
        display: none;
    }

    .header__right {
    visibility:hidden;
    }

    .section__action__container {
        width: 60%;
    }

    .footer ul {    
        width: 70%;
    }
}

@media screen and (min-width: 1600px) {
    .footer ul {
        width: 40%;
    }

    .section__action__container {
        width: 50%;
    }
}
