body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}


a:active,
a:link,
a:visited {
    text-decoration: none;
}

.blur__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    transition: display 0.4s ease;
}

    .blur__overlay.is--active {
        display: block;
    }





/**                                                   HEADER*/
.header {
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    background-color: #16488F;
}

.header__middle {
    display: flex;
    align-items: center;
}

.header__left {
    display: block;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 3px;
}

.header__logo {
    height: 100%;
    width: 8rem;
}

.header__right {
    margin: auto 0;
    margin-right: 1rem;
}

.header__nav__btn {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
    color:black;
    border-radius: 1.5rem;
    text-transform: capitalize;
    transition: background 0.3s linear;
}

    .header__nav__btn:hover {
        background-color:snow;
    }

    .header__nav__btn.menu__btn {
        display: inline-block;
    }

.header__middle .header__nav__btn {
    margin-right: rem;
}

/**                                                     NAVIGATION*/

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    max-width: 35rem;
    height: 100%;
    z-index: 10;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
}

    .navigation.is--active {
        transform: translateX(0);
    }

    .navigation ul {
        width: 100%;
        margin: 0 auto;
        list-style: none;
    }

        .navigation ul li {
            width: 100%;
            padding: 1.2rem 0;
            padding-left: 1rem;
            margin-bottom: 0.5rem;
            cursor: pointer;
            border-radius: 1.2rem;
            transition: 0.33s ease;
        }

nav__link {
    color: #393c41;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
}

navigation ul li :hover {
    background: #0000000d;
}

.close__btn__container {
    text-align: right;
    margin: 2rem 3rem;
}

.navigation__close__btn {
    width: 3rem;
    cursor: pointer;
}





/* responsive.css */

/* sm=600 */
/* md=900 */
/* lg=1200 */
/* xl=1600 */

@media screen and (min-width: 600px) {
    .section__action__btn {
        max-width: 30rem;
        padding: 1.5rem;
        flex-basis: 40%;
    }

    .section__action__container {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 300px) {
    .navigation {
        width: 100%;
    }
}


@media screen and (min-width: 900px) {
    .section__action__container {
        width: 70%;
    }

    .footer ul {
        width: 70%;
    }
}

@media screen and (min-width: 1150px) {
    .header__nav__btn {
        display: inline-block;
    }

    .header__left {
        padding: 0 2rem;
    }

    .header__right {
        margin: auto 2rem;
    }

    .link__in__middle {
        display: none;
    }

    .header__right {
        visibility: hidden;
    }

    .section__action__container {
        width: 60%;
    }

    .footer ul {
        width: 70%;
    }
}

@media screen and (min-width: 1600px) {
    .footer ul {
        width: 40%;
    }

    .section__action__container {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .section__content__title2 {
        font-size: 4.5vw;
        margin-bottom: 0.5rem;
        color: white;
    }
}







/*                                                          Gallery*/
.gallery {
    margin-bottom: 50px;
}


.gallery-rows {
    width: 100%;
}


.gallery-rows2 {
    width: 100%;
    margin-top: 2em;
}

.gallery-card {
}

.imgc {
    border-radius: 20px;
}








/*                       cards*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');






.containerr {
    position: relative;
}

    .containerr .card {
        position: relative;
        width: 300px;
        height: 450px;
        background: #232323;
        border-radius: 20px;
        overflow: hidden;
    }

        .containerr .card:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #16488F;
            clip-path: circle(150px at 80% 20%);
            transition: 0.5s ease-in-out;
        }

        .containerr .card:hover:before {
            clip-path: circle(300px at 80% -20%);
        }



        .containerr .card .imgBx {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10000;
            width: 100%;
            height: 220px;
            transition: 0.5s;
        }

        .containerr .card:hover .imgBx {
            top: 0%;
            transform: translateY(0%);
        }

        .containerr .card .imgBx img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-25deg);
            width: 270px;
        }

        .containerr .card .contentBx {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 1s;
            z-index: 10;
        }

        .containerr .card:hover .contentBx {
            height: 210px;
        }

        .containerr .card .contentBx h2 {
            position: relative;
            font-weight: 600;
            letter-spacing: 1px;
            color: #fff;
            margin: 0;
        }



        .containerr .card .contentBx a {
            display: inline-block;
            padding: 10px 20px;
            background: #16488F;
            border-radius: 4px;
            margin-top: 10px;
            text-decoration: none;
            font-weight: 600;
            color: floralwhite;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.5s;
            margin-top: 0;
        }

        .containerr .card:hover .contentBx a {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.75s;
        }




/*media querry of services*/
@media (max-width: 991px) {

    .spac {
        margin-top: 10px;
        margin-bottom: 40px
    }
}
















.cardd {
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    height: 200px;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

    .cardd:hover {
        transform: translateY(20px);
    }

        .cardd:hover:before {
            opacity: 1;
        }

        .cardd:hover .info {
            opacity: 1;
            transform: translateY(0px);
            text-align: center;
        }

    .cardd:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(0, 0, 20, 0.6);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
    }

    .cardd img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
    }

    .cardd .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s;
        text-align: center;
    }

        .cardd .info h1 {
            margin: 0px;
        }

        .cardd .info p {
            letter-spacing: 1px;
            font-size: 15px;
            margin-top: 8px;
        }

        .cardd .info button {
            padding: 0.6rem;
            outline: none;
            border: none;
            border-radius: 3px;
            background: white;
            color: black;
            font-weight: bold;
            cursor: pointer;
            transition: 0.4s ease;
        }

            .cardd .info button:hover {
                background: #16488F;
                color: white;
            }