body
{
    margin:0;
    font-family:'Roboto Condensed', sans-serif;
}

* {
box-sizing:border-box;
}

.product-slider {
padding:2em;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}


.card {
padding: 2em;
width:90vw;
height:80vh;
min-height:38em;
max-height:1050pc;
position:relative;
}

.panel-1, panel-2 {
position:absolute;
box-shadow: 0 0 4em 1em rgba(0,0,0,0.4);
border-radius:2em;
top:50%;
transform:translateY(-50%);
}

